.d {
    display: flex;
    width: 100%;
  }
  
  .left {
    width: 33.33%;
    background-color: lightblue;
    padding: 20px;
  }
  
  .right {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically centers the items */
  }
  
  .right > div {
    flex: 1; /* This allows the items to expand equally */
    margin: 0 10px; /* Adds some space between the divs */
  }
  
  
  .search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px; /* This makes the search bar rounded */
    outline: none;
    font-size: 16px;
  }
  
  .search-bar input::placeholder {
    color: #aaa; /* Customize placeholder color if needed */
  }
  
  
  .color-palette {
    display: flex;
    gap: 10px; /* Adds spacing between color buttons */
  }
  
  .color-palette button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dropdown select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  